@model Repositories.GolesPorJugadorEquipo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEnumerable<Repositories.Jugador> jugadores = ViewBag.Jugadores as IEnumerable<Repositories.Jugador>;

    IEnumerable<SelectListItem> jugadoresItems = jugadores.Select(o => new SelectListItem()
    {
        Text = o.Nombre,
        Value = o.Id.ToString()
    }).ToList();
}

<section>
    <h2>Agregar Goles de Jugador por Equipo</h2>

    <form action="/Goles/AltaGolesJugador" method="post">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="cantidad-goles">Cantidad de Goles</label>
            @Html.EditorFor(Model => Model.CantidadGoles, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cantidad de Goles" } })
            @Html.ValidationMessageFor(Model => Model.CantidadGoles)
        </div>
        <div class="form-group">
            <label for="equipo">Equipo</label>
            @Html.EditorFor(Model => Model.Equipo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Equipo" } })
            @Html.ValidationMessageFor(Model => Model.Equipo)
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Jugadores</label>
            @Html.DropDownListFor(Model => Model.IdJugador, jugadoresItems, new { @class = "form-control" })
            @Html.ValidationMessageFor(Model => Model.IdJugador)
        </div>
        <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
</section>